<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="75" src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Certh_9.svg" alt="d">
  <img width="75" src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Certh_8.svg" alt="t">
</div>

<h2>Transform your text</h2>

<p>Write your text here:</p>
<textarea [(ngModel)]="originalText" ></textarea>

<p>Here you will get the transliteration</p>

<div class="transformedText" *ngIf="originalText">
  <span *ngFor="let character of originalText.split('')"><img *ngIf="hasImage(character)" src="{{character | toCirthUrl}}" alt="{{character}}"><span class="space" *ngIf="!hasImage(character)">{{character}}</span></span>
</div>

<h2>How this works</h2>
